@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#__next {
  @apply flex flex-col h-screen;
}

.section-before::before {
  @apply absolute;
  z-index: -1;
  content: "";
  top: 0%;
  bottom: 10%;
  width: 150%;
  left: -25%;
  background: linear-gradient(83.21deg, #3245ff 0%, #52ee96 100%);
  -webkit-mask-image: radial-gradient(rgba(0, 0, 0, 0.45), transparent 70%);
  mask-image: radial-gradient(rgba(0, 0, 0, 0.45), transparent 70%);
}